
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
	background: #8FACC9;
	font-weight: 600;
	font-size: 18px;
	/*color: #43596E;*/
}

div {
	text-align: center;
}

a:hover{
	color: #007a79;
}

h1 {
	font-size: 40px;
	font-weight: 900;
	
}

h2 {
	font-size: 30px;
	font-weight: 650;
}

h3 {
	font-size: 28px;
	font-weight: 600;
	font-style: italic;
}

.wrapper{
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1100px;
	margin: 0px auto;
}

@media (max-width: 1100px){
	.container{
		max-width: 970px; 
	}
}

@media (max-width: 992px){
	.container{
		max-width: 750px; 
	}
}

@media (max-width: 767px){
	.container{
		max-width: none; 
	}
}

/* header*/

.header{
	background: url(../img/theme.jpg) 50%/cover no-repeat;
}

.header div{
	background: none;
}
 
.menu_list{
	height: 80px;
	padding: 10px 0;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.menu_item{
	overflow: hidden;
	border-left: 1px solid black;
	padding: 10px;
	font-size: 2em;
	color: #000;
}

.photo{
	margin: 30px auto;
}

.photo img{
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid black;
}

.header_block{
	margin: 20px 0 20px 0;
}

/*==============================================*/


/* main content*/ 
.stack, .education{
	background-color: #79A2C9;
}

.content_row{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-evenly;	
}

.content_header{
	flex: 0 1 100%;
	padding: 20px;
}

.stack_tech{
	width: 100%;
	min-height: 150px;
}

.stack_logo {
	max-width: 100px;
	margin: 10px 20px;
}

.stack_logo:hover{
	max-width: 110px;
}

.content_item {
	background-color: #456D93;
	border-radius: 10px;
	margin: 10px 0;
	padding: 10px;
}

.content_item:hover{
	box-shadow: 2px 2px 10px 5px #002a29;
}

.work_period{
	flex: 0 1 20%;
}

.work_item{
	flex: 0 1 70%;
}

.education_section{
	flex: 0 1 75%;
}

.sertificate_section{
	flex: 0 1 30%;
}	
/* =============================================*/


/* footer */ 

.footer {
	background-color: #456D93;
}

.contact_logo{
	display: inline-block;
	width: 40px;
	margin: 10px;
}