
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

div {
	border: 1px solid black;
	background: #c7cedf;
	text-align: center;
	/*font-family: 'Indie Flower';*/
	font-weight: 600;
	color: #002a29;
}

a:hover{
	color: blue;
}

h1 {
	font-size: 40px;
	font-weight: 600;
	
}

h2 {
	font-size: 30px;
	font-weight: 500;
	
}

h3 {
	font-size: 25px;
}

.container {
	width: 1100px;
	margin: 0px auto;
	/*@media toDo*/
}

/* header*/

.header {
	background: url(../img/theme.jpg) 50%/cover no-repeat;
}

.header div{
	background: none;
}
 
.menu_list{
	height: 80px;
	padding: 10px 0;
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

.menu_item {
	overflow: hidden;
	border-left: 1px solid black;
	padding: 10px;
	font-size: 2em;
	color: #000;
}

.photo {
	margin: auto;
	
}

.photo img{
	height: 200px;
	width: 200px;
	overflow: hidden;
	border-radius: 50%
}

.header_block{
	margin: 20px 0 20px 0;
}

/*==============================================*/


/* main content*/ 

/*.content_row {
	display:flex;
	flex-wrap:wrap;
}*/

.content_row, .education_row, .certificates_row{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.content_header{
	flex: 0 1 100%;
}

.stack_tech{
	text-align: center;
	width: 100%;
}

.content_item {
	background-color: #007a79;
	border-radius: 10px;
	margin: 10px 0;
}

.content_item:hover{
	box-shadow: 5px 5px 5px 5px #002a29;
}

.work_period{
	flex: 0 1 28%;
}

.work_item{
	flex: 0 1 68%;
}

.education_row {

}

.education_section{
	width: 70%;
}

/*.certificates_row{
	flex-direction: row; 
}*/

.sertificate_section{
	width: 30%;
}	
/* =============================================*/


/* footer */ 

.footer {
	background-color: #007a79;
	
}

.contact_logo{
	display: inline-block;
	width: 40px;
	margin: 10px;
}